<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/css/attraction.css"/>
</head>
<body>
    <nav>
        <div class="top">
            <div class="left">
                <a href="/" style="text-decoration:none;"><div class="navdaytrip">台北一日遊</div></a>
            </div>
            <div class="right">
                <div class="navreserve">預定行程</div>
                <div class="navlogin">登入/註冊</div>
            </div>
        </div>
    </nav>

    

    <main>
        <div class="attraction">
            <div class="colright"></div>
        </div>
    </main>
    
    <div class="main">
        <div class="text"></div>
    </div>
    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script src="/static/js/attraction.js" defer></script>
</body>
</html>