<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="/static/css/attraction.css"/>
</head>
<body>
    <nav>
        <div class="top">
            <div class="left">
                <a href="/" style="text-decoration:none;"><div class="navdaytrip">台北一日遊</div></a>
            </div>
            <div class="right">
                <div class="navreserve">預定行程</div>
                <div class="navlogin">登入/註冊</div>
            </div>
        </div>
    </nav>

    

    <main>
        <div class="attraction">
            <div class="col-right">
                <div class="slideshow-container">
                </div>
            </div>
            <div class = "col-left">
                <div class="attractionName"></div>
                <div class="attractionCat"></div>                
                <div class="form">
                    <div class="one">訂購導覽行程</div>
                    <div class="two">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <span class="three">選擇日期:</span> <input  class="date" type="date">
                    <div class="four">選擇時間: <input type="radio"  class="am"/>上半天<input type="radio" class="pm"/>下半天</div>
                    <div class="five">導覽費用:<span class="cost">請選擇費用</span></div>
                    <div class="six">開始預約行程</div>
                </div>
            </div>
        </div>
    </main>
    
    <div class="main">
        <div class="text"></div>
    </div>
    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script src="/static/js/attraction.js" defer></script>
</body>
</html>